*{
	margin: 0px
	padding:0px;
	box-sizing: border-box;
}
body{
	margin:0px;
	background-image: url("img/bg1.jpg");
	line-height: 1.5;
	/*background-color: #F8F5F1;*/
	background-position: center center;
	overflow-x: hidden;
	font-weight: 400;
}
body .hidden-scrolling{
	overflow-y: hidden;
}
ul{
	list-style: none;
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
}
.container{
	max-width: 100%;
	width: 100vw;
	height:100vw;
	
	display:grid;
	
	grid-template:100px  1fr 1fr / repeat(3, 1fr);
	padding:0px;
	box-sizing: border-box;
}
.container div{
	padding:10px;
	border:0px solid white;
}
/*Header Start*/
.header{
	grid-column: 1/4;
	position: absolute;
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.header-main{
	background-color: #81B9C0;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}
.header .logo{
	padding: 0 15px;
}
.header .logo a{
	font-size: 30px;
	text-transform: capitalize;
	color: #A4EBF3;
	font-weight: 600;
}
.header .nav-menu{
	padding: 0 15px;
}
.header .menu > .menu-item{
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header .menu > .menu-item > a{
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	transition: all 0.3s ease;
}
.header .menu > .menu-item > a .plus{
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left:5px; 
	pointer-events: none;
}
.header .menu > .menu-item > a .plus:before,
.header .menu > .menu-item > a .plus:after{
	content:'';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	background-color: #fff;
	height: 2px;
	width: 100%;
	transform: translate(-50%,-50%);
	transition: all 0.3s ease;
}
.header .menu > .menu-item:hover > a .plus:before,
.header .menu > .menu-item:hover > a .plus:after{
   background-color: #e91e63;
}
.header .menu > .menu-item > a .plus:after{
   transform: translate(-50%,-50%) rotate(-90deg);	
}
.header .menu > .menu-item > .sub-menu > .menu-item > a:hover,
.header .menu > .menu-item:hover > a{
	color: #e91e63;
}
.header .menu > .menu-item > .sub-menu{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #e91e63;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 992px){
.header .menu > .menu-item-has-children:hover > .sub-menu{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
 .header .menu > .menu-item-has-children:hover > a .plus:after{
    transform: translate(-50%,-50%) rotate(0deg);		
 }
}
.header .menu > .menu-item > .sub-menu > .menu-item{
	display: block;
}
.header .menu > .menu-item > .sub-menu > .menu-item > a{
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.header .open-nav-menu{
	height: 34px;
	width: 40px;
	margin-right: 15px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.header .open-nav-menu span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.header .open-nav-menu span:before,
.header .open-nav-menu span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.header .open-nav-menu span:before{
	top:-7px;
}
.header .open-nav-menu span:after{
	top:7px;
}
.header .close-nav-menu{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.header .close-nav-menu img{
	width: 16px;
}
.header .menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}
/*Header End*/


.content{
	grid-row-start: 2;
	grid-row-end: span 1;
	grid-column-start: 2;
	grid-column-end: 3;
}
.content h1{
	margin-top: 20px;
	color:black;
	text-align: center;
	font-size: 50px;
}
.content img{
	display: block;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	margin-bottom: 25px;
}
.bahan-cheesecaketanpaoven{
	color: white;
	padding: 25px 25px;
}
.bahan-cheesecaketanpaoven h3{
	font-size: 40px;
	border-bottom: 2px solid;
}
.bahan-cheesecaketanpaoven li{
	font-size: 20px;
}

.step-cheesecaketanpaoven{
	color: white;
	padding: 25px 25px;
}
.step-cheesecaketanpaoven h3{
	font-size: 40px;
	border-bottom: 2px solid;
}
.step-cheesecaketanpaoven li{
	font-size: 20px;
}


.content2{
	grid-row-start:2;
	grid-row-end: span 1;
	grid-column-start:3;
	grid-column-end:4;
	text-align: center;
	color:white;

}
.content2 .sidebar-interface h2{
	text-align: center;
}
.content2 .sidebar-interface .about-me h2{
	border-style: solid;
}
.content2 .sidebar-interface .about-me p{
	border-style: solid;
	border-radius: 20px;
	background-color: white;
}


.content2 .sidebar-interface .indonesian-food a{
	border-style: solid;
	display: block;
	background-color: white;
	color:black;
	border-radius: 25px;
}
.indonesian-food:hover{
	background-color:white;
}
.content2 .sidebar-interface .dessert a{
	border-style: solid;
	display: block;
	background-color: white;
	color:black;
	border-radius: 25px;
}
.dessert:hover{
	background-color:white;
}
.content2 .sidebar-interface .findme a{
	display: block;
	border-style: solid;
	background-color: white;
	color:black;
	border-radius: 25px;
}
.findme:hover{
	background-color:white;
}



.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	grid-row-start:4;
	grid-row-end: span 1;
	grid-column-start:1;
	grid-column-end:4;
	background-color: #24262b;
    padding: 70px 0;
}
.footer-logo{
	color: #ffffff;
	font-size:32px;
	float:left;
	padding-right: 100px;
	padding-left: 50px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
